* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Colors */
.bodyColor {
  background-color: #344966;
  color: black;
}
.navColor {
  background-color: #0d1821;
}

.leftParagraphColor {
  background-color: #b8d4e3;
}

.rightCarouselColor {
  background-color: #b8d4e3;
}

.rightVideoColor {
  background-color: #b8d4e3;
}
.rightBottomImage {
  background-color: #b8d4e3;
}
.cardsColor {
  background-color: #d0fcb3;
}

/* Animation */
.animationTime {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
